.about_pic {
  width: 1017px;
  height: 308px;
  margin: auto;
  position: relative;
}

.about_pic img {
  width: 100%;
  border-radius: 10px;
}

.about_pic span {
  position: absolute;
  bottom: 25px;
  left: 58px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 10px;
}

.categroies {
  margin: 100px auto;
}

.brand_concept {
  display: flex;
  justify-content: center;
  margin: 151px auto;
}

.brand_concept img {
  width: 450px;
  border-radius: 10px;
  box-shadow: rgb(253, 204, 67) 20px 20px;
}

.brand_concept .last_banner_content {
  margin-right: 138px;
}

.brand_concept p {
  line-height: 3;
}

.brand_concept_content {
  margin-right: 184px;
  text-align: center;
  margin-top: 114px;
}

.team_introduction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 223px;
}


.team_introduction_pic img {
  
    border-radius: 50%;
    border: 4px dashed #000;
  }


.team_introduction_txt {
  margin: 1px 76px;
}

.team_introduction_txt h3 {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 6.776px;
  margin-bottom: 41px;
  text-align: center;
}

.product_promise {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 223px;
}

.product_promise_pic img{
 
    border-radius: 50%;
    border: 4px dashed #000;
 
}

.product_promise_pic img {
  width: 100%;
}

.product_promise_txt h3 {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 6.776px;
  text-align: center;
}

.product_promise_txt {
  margin: 0px 129px;
}

.product_promise_txt p {
  margin: 41px 0px;
}

.contact_us {
  background-image: url("../img/index-bg01.jpg");
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 223px;
}

.contact_us_txt {
  margin: 21px 129px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact_us_txt h3 {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 6.776px;
  margin-bottom: 20px;
}

.contact_us_txt li {
  margin: 24px 0px;
}

.contact_us_content {
  text-align: left; /* 內容左對齊 */
}

.ontact_us_map iframe {
  width: 100%;
  margin-top: 74px;
  border-radius: 74px;
}

.ontact_us_map {
  width: 500px;
}
