* {
  /* font-family: "Noto Sans HK", sans-serif; */
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
body {
  background-color: #f7f6f2;
  font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    color: #4F4F51;
    font-size: 18px;
}

main{
  width: 1200px;
}

a{
  color: #4F4F51;
}

/* header 導覽列 */
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999999;
}
.navigation {
  display: flex;
  background-color: #f7f6f2;
  height: 80px;
  margin: 0;
  padding: 1px;
  position: relative;
  justify-content: space-around;
  align-items: center;
}
.navigation .logo img {
  width: 226px;
  /* border: 1px solid red; */
}
.navigation ul li {
  list-style-type: none;
  display: inline-block;
  margin: 16px 16px;
  /* border: 1px solid red; */
}
.navigation .icon {
  width: 54px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}
.navigation .icon img {
  width: 16px;
  height: 16px;
}
/* border隔開，也可改用偽元素 */
.navigation .login .search {
  border-left: 1.25px solid rgb(0, 0, 0);
  padding-left: 25px;
  border-right: 1.25px solid rgb(0, 0, 0);
  padding-right: 25px;
}

.navigation ul li a {
  color: #000000;
  text-decoration: none;
  position: relative;
}
.navigation ul li a:hover {
  color: #000000;
}
.navigation ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #000000;
  position: absolute;
  right: 0;
  transition: 0.4s;
}
.navigation ul li a:hover::after {
  color: #000000;
  width: 100%;
  left: 0;
}

/* 字體 */

p {
font-size: 18px;
font-family: 'Noto Sans TC', sans-serif;
line-height: 2;
font-weight: 400;
}


.h2_title > h2{
  display: inline-block;
}


h2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2>span{
font-size:40px ;
font-family: 'Noto Sans TC', sans-serif;
line-height: 2;
letter-spacing: 10px;
font-weight: 300;
}



/* banner */
.banner_index{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-right: 10px;
  margin-top: 85px;
  align-items: center;
  }
  
  .banner_img{
    width: 73%;
  }
  
  .banner_index img{
    width: 100%;
    vertical-align: top;
    border-radius: 0px 75px 56px 0px;
  }
  

  .banner_index .banner_content{
    margin: 0.2% 2%;
    width: 17%;
  }
  
  
  .questrial{
  color: #c79711;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5; 
  font-family: 'Noto Sans TC', sans-serif;
  }
  
  .banner_cd_img{
  width: 276px;
  height: 214.088px;
  }

  .banner_index p{
    line-height: 3;
  }




/* 格子 */

/* 商品分類categroies */
.container {
  display: flex;
  margin: 0; /* 清除 container 的外邊距 */
  border: none; /* 清除 container 的邊框 */
  position: relative; /* 讓內容區域可以定位 */
  overflow: hidden; /* 隱藏超出的部分 */
}

.box {
  width: 300px;
  height: 300px;
  margin: 0; /* 清除 box 的外邊距 */
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s; /* 轉場特效 */
 
}
.box:hover {
  transform: scale(1.1); /* 放大 1.1 倍 */
}

.container:nth-child(1) {
  background-color: #daa520; 
}

.container:nth-child(2) {
  background-color: #2f4f4f; 
}

.box img {
  object-fit: cover; /* 保持圖片比例並填滿整個方塊 */
}

.image {
  width: 100%;
  height: 100%;
}

.text {
  text-align: center;
  padding: 10px; /* 添加內部 padding */
}

.flex {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.cloum {
  margin-left: 0; /* 清除左側欄位的外邊距 */
}
.text {
  color: #fff;
}
.text p {
  font-size: 40px;
}

/* footer */
.footer{
  width: 100%; 
  height: 595px;
  background-image: url("../img/footer-bc.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
  
  }
  .footer_box{width: 100%;display: flex;justify-content: space-around;align-items: center;margin-bottom: 38px;background-color: #fff;}
  
  .footer  ul.social{
  display: flex;
  }
  
  
  .footer li{
    margin: 10px 0;
  }
  
  li a{
  margin: 10px;
  
  }
  .comment{
  text-align: center;
  background-color: #fff;
  }

  .footer li img{
    vertical-align: top;
  }


  /* header 導覽列 */
  header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999999;
  }
  .navigation {
    display: flex;
    background-color: #f7f6f2;
    height: 80px;
    margin: 0;
    padding: 1px;
    position: relative;
    justify-content: space-around;
    align-items: center;
  }
  .navigation .logo img {
    width: 226px;
  }
  .navigation ul li {
    list-style-type: none;
    display: inline-block;
    margin: 16px 16px;
  }
  .navigation .icon {
    width: 54px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation .icon img {
    width: 16px;
    height: 16px;
  }
  /* border隔開，也可用偽元素 */
  .navigation .login .search {
    border-left: 1.25px solid rgb(0, 0, 0);
    padding-left: 25px;
    border-right: 1.25px solid rgb(0, 0, 0);
    padding-right: 25px;
  }

  .navigation ul li a {
    color: #000000;
    text-decoration: none;
    position: relative;
  }

  .navigation ul li a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: #000;
    position: absolute;
    right: 0;
    transition: 0.4s;
  }

  /* rwd */
  /* 漢堡 */
  .hb label {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .hb span {
    width: 80%;
    height: 4px;
    background-color: #000;
    transition: transform 0.5s; /* 加入過渡效果 */
  }
  .main-nav {
    display: flex;
  }
  .main-nav a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
  }

  /* 按鈕 */
  #nav_switch {
    display: none;
  }

  /* 手機 */
  @media screen and (max-width: 768px) {
    .main-nav {
      position: absolute;
      width: 100%;
      margin: 0px 5%;
      background-color: #fec74f;
      top: 100%;
      left: 0;
      flex-direction: column;
      align-items: center;
      display: none;
    }

    .main-nav li {
      width: 100%;
    }
  
    .main-nav a {
      align-items: center;
    }
    #nav_switch:checked + .navigation .main-nav {
      display: flex;
      width: 100%;
      margin: auto;
    }
    #nav_switch:checked + .navigation .hb span:nth-child(1) {
      position: absolute;
      inset: 0;
      margin: auto;
      transform: rotate(45deg);
      transition: 0.5s;
    }
    #nav_switch:checked + .navigation .hb span:nth-child(2) {
      display: none;
    }
    #nav_switch:checked + .navigation .hb span:nth-child(3) {
      position: absolute;
      inset: 0;
      margin: auto;
      transform: rotate(-45deg);
      transition: 0.5s;
    }
    /* 裝飾品 */
    .rivew_cat_img,.dog_snack{
      display: none;
    }

    /* 其餘版面 */
    /* 第一個banner */
    .banner_index{
      width: 100%;
      display: flex;
      flex-direction: column; /* 垂直排列 */
    }
    .banner_img {
      width: 100%;
      text-align: center; /* 圖片置中 */
     
    }
    .banner_index img{
      border-radius: 0px ;
      max-width: 100%; /* 不超出螢幕寬度 */
      height: auto; /* 圖片保持原始比例 */
    }
    .banner_index .banner_content{
      width: 100%;
      margin: auto;
    }
    .banner_content p{
text-align: center;
    }
    .h2_title {
      text-align: center; /* 文字置中 */
    }
    .fade_left_animate {
      text-align: center; /* 文字置中 */
    }

    /* 第二個banner */
    .middle_banner_fade_up_animate{
      width: 100%;
      display: flex;
      flex-direction: column; /* 垂直排列 */
    }
    .middle_banner_content{
      width: 100%;
      text-align: center; /* 圖片置中 */
    }
    .middle_banner_content img{
      border-radius: 10px ;
      width: 80%; /* 不超出螢幕寬度 */
      height: auto; /* 圖片保持原始比例 */
      margin-right: 0;
    }
    .middle_banner_fade_up_animate .middle_banner_content{
      width: 100%;
      margin: auto;
    }
    .middle_banner_content h2{
      margin: 30px 65px;
    }
    .middle_banner_content p{
      text-align: center;
      margin: 0px 72px;
    }
    .h2_title {
      text-align: center; /* 文字置中 */
    }
    .fade_left_animate {
      text-align: center; /* 文字置中 */
    }

  /* 第三個banner */

    .last_banner{
      display: flex;
      flex-wrap: wrap;
    }
    .last_banner .last_banner_shadow{
      width: 100%;
      text-align: center; /* 圖片置中 */
     
    }
    .last_banner_shadow img{
      border-radius: 10px ;
      max-width: 100%; /* 不超出螢幕寬度 */
      height: auto; /* 圖片保持原始比例 */
    }
    .last_banner .last_banner_content{
      width: 100%;
      margin: 20px auto;
    }
    .last_banner_content p{
      text-align: center;
      margin: 0 40px;
    }
    .h2_title {
      text-align: center; /* 文字置中 */
    }
    .fade_left_animate {
      text-align: center; /* 文字置中 */
    }

    /* 商品分類categroies */
    .categroies{
      display: flex;
      flex-direction: column;
      align-items: center; /* 置中對齊 */
      }

    .cloum {
      width: 100%; /* 佔滿整個寬度 */
      }
      
    .box {
      width: 100px;
      height: 100px;
      }
  
    .text p {
      font-size: 20px;
      }
      
/* 新品上市 new-arrival */

.new_arrival {
  text-align: center; /* 置中對齊 */
}

.new_content_pic {
  display: flex;
  flex-direction: column;
  align-items: center; /* 置中對齊 */
}

.new_arrival_img img {
  max-width: 100%; /* 圖片最大寬度為100% */
  height: auto; /* 自適應高度 */
  aspect-ratio: 1/1; /* 鎖定長寬比為1:1 */
  position: relative;
  overflow: hidden;
}

.new_arrivel_content {
  text-align: center; /* 置中對齊 */
}














    .bast_sellers{
      display: none;
    } .owner_review{
      display: none;
    }
  }

/* 桌機 */
  @media screen and (min-width: 768px) {
    .hb {
      display: none;
    }
    .main-nav {
      flex-direction: row;
    }


  }

/* 

  .header_menu,
  .icon{
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 3;
      max-height: 0px;
      overflow: hidden;
      -webkit-transition: .5s ease;
      -o-transition: .5 ease;
      transition: .5 ease;
      text-align: center;
      margin: 0 -.5px;
      } */









