* {
  /* font-family: "Noto Sans HK", sans-serif; */
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
body {
  background-color: #f7f6f2;
  font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    color: #4F4F51;
    font-size: 18px;
}

main{
  width: 1200px;
}

a{
  color: #4F4F51;
}

/* header 導覽列 */
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999999;
}
.navigation {
  display: flex;
  background-color: #f7f6f2;
  height: 80px;
  margin: 0;
  padding: 1px;
  position: relative;
  justify-content: space-around;
  align-items: center;
}
.navigation .logo img {
  width: 226px;
  /* border: 1px solid red; */
}
.navigation ul li {
  list-style-type: none;
  display: inline-block;
  margin: 16px 16px;
  /* border: 1px solid red; */
}
.navigation .icon {
  width: 150px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}
.navigation .icon img {
  width: 16px;
  height: 16px;
}
/* border隔開，也可改用偽元素 */
.navigation .login .search {
  border-left: 1.25px solid rgb(0, 0, 0);
  padding-left: 25px;
  border-right: 1.25px solid rgb(0, 0, 0);
  padding-right: 25px;
}

.navigation ul li a {
  color: #000000;
  text-decoration: none;
  position: relative;
}
.navigation ul li a:hover {
  color: #000000;
}
.navigation ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #000000;
  position: absolute;
  right: 0;
  transition: 0.4s;
}
.navigation ul li a:hover::after {
  color: #000000;
  width: 100%;
  left: 0;
}

/* 字體 */

p {
font-size: 18px;
font-family: 'Noto Sans TC', sans-serif;
line-height: 2;
font-weight: 400;
}


.h2_title > h2{
  display: inline-block;
}


h2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2>span{
font-size:40px ;
font-family: 'Noto Sans TC', sans-serif;
line-height: 2;
letter-spacing: 10px;
font-weight: 300;
}



/* banner */
.banner_index{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-right: 10px;
  margin-top: 85px;
  align-items: center;
  }
  
  .banner_img{
    width: 73%;
  }
  
  .banner_index img{
    width: 100%;
    vertical-align: top;
    border-radius: 0px 75px 56px 0px;
  }
  

  .banner_index .banner_content{
    margin: 0.2% 2%;
    width: 17%;
  }
  
  
  .questrial{
  color: #c79711;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5; 
  font-family: 'Noto Sans TC', sans-serif;
  }
  
  .banner_cd_img{
  width: 276px;
  height: 214.088px;
  }

  .banner_index p{
    line-height: 3;
  }




/* 格子 */
.container {
  display: flex;
  margin: 0; /* 清除 container 的外邊距 */
  border: none; /* 清除 container 的邊框 */
}

.box {
  width: 300px;
  height: 300px;
  margin: 0; /* 清除 box 的外邊距 */
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #e98181; 設定文字方塊的背景顏色 */
}

.container:nth-child(1) {
  background-color: #fec74f; /* 給第一個方塊上色 */
}

.container:nth-child(2) {
  background-color: #fdbb6f; /* 給第二個方塊上色 */
}

.box img {
  object-fit: cover; /* 保持圖片比例並填滿整個方塊 */
}

.image {
  width: 100%;
  height: 100%;
}

.text {
  text-align: center;
  padding: 10px; /* 添加內部 padding */
}

.flex {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.cloum {
  margin-left: 0; /* 清除左側欄位的外邊距 */
}
.text {
  color: #4f4f51;
}
.text p {
  font-size: 40px;
}

/* footer */
.footer{
  width: 100%; 
  height: 595px;
  background-image: url("../img/footer-bc.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
  
  }
  .footer_box{width: 100%;display: flex;justify-content: space-around;align-items: center;margin-bottom: 38px;background-color: #fff;}
  
  .footer  ul.social{
  display: flex;
  }
  
  
  .footer li{
    margin: 10px 0;
  }
  
  li a{
  margin: 10px;
  
  }
  .comment{
  text-align: center;
  background-color: #fff;
  }

  .footer li img{
    vertical-align: top;
  }