/* banner */
.banner_index{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-right: 10px;
  margin-top: 85px;
  align-items: center;
  }
  
  .banner_img{
    width: 73%;
  }
  
  .banner_index img{
    width: 100%;
    vertical-align: top;
    border-radius: 0px 75px 56px 0px;
  }
  

  .banner_index .banner_content{
    margin: 0.2% 2%;
    width: 17%;
  }
  
  
  
  .banner_cd_img{
  width: 276px;
  height: 214.088px;
  }

  .banner_index p{
    line-height: 3;
  }

  
  /* 中間 banner */
  .middle_banner_fade_up_animate{
  margin-top: 110px;
  }
  .middle_banner_fade_up_animate .middle_banner_content{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 150px;
  }
  
  
  .middle_banner_content img{
  border-radius: 10px;
  width: 54%;
  margin-right: 78px;
  object-fit: cover;
  box-shadow: -19px 20px 0px 0px #FDCC43;
  }
  .middle_banner_content p{
    line-height: 3;
  }
  
  
  /* about tast tails介紹 */
  
  .last_banner{
  display: flex;
  justify-content: center;
  margin: 100px 0;
  }
  
  .last_banner img{
  width: 300px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 20px 20px #FDCC43;
  }
  
  .last_banner .last_banner_content{
  margin-right: 138px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

  .last_banner p{
    line-height: 3;
  }
  
 

  
  /* 新品上市 new-arrival */
  
 
  .new_arrival{
  position: relative;
  background-image: url("../img/index-bg01.jpg");
  width: 100%;
  height: 845px;
  position: relative;
  margin: 100px auto;
  }

  .new_content{
    width:100%;
    margin: auto;
  }    
  
  .shadow{
  width: 1169px;
  height: 469.811px;
  border-radius: 10px 234.906px 234.906px 10px;
  background: #FDCC43;
  position: relative;
  margin: auto;
  }
  .new_arrival .new_arrival_img img{
  display: block;
  position: relative;
  margin: 20px auto;
  width: 1128px;
  height:453px;
  border-radius: 10px 234.906px 234.906px 10px;
  box-shadow: 19px 20px 0px #fdcc43;
  }
  
  .dog_snack{
  position: absolute;
  right: 359px;
  bottom: 157px;
  }
  
 
  
  .new_arrival h3{
    display: flex;
    flex-direction: column;
    font-size:30px;
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 80px;
    letter-spacing: 10px;
  }
.new_arrivel_content{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
  
  
  
  
  /* 暢銷商品 */

  .slider {
    display: flex;
    flex-direction: column;
    margin: 42px auto;
  }



  .slider-container {
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -6px auto;
  }

  .big-image {
    width: 650px;
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  .big-image img {
    width: 100%;
  }

  .small-images {
    width: 90px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  .small-images img {
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }

  .explain {
    padding: 20px;
    display: flex;
  }

  .fsttit {
    grid-column: 1 / span 3;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
  }

  .aboutfood {
    margin: 0 -9px;
    display: flex;
  }

  .aboutfood img {
    height: 20px;
    color: #b1e392;
  }

  .aboutfood p {
    margin: 0 10px;
  }
.newfood{
    display: inline-block;
  margin: 0px auto;
}

h3{
  font-size: 40px;
font-family: 'Noto Sans TC', sans-serif;
line-height: 80px;
letter-spacing: 10px;
font-weight: 300;
}

  
  
  
  
  
  
  /* 飼主心得 */
  .owner_review{
    background-image: url("../img/index-bg01.jpg");
  }
  
  .owner_review_txt{
    margin: 66px 348px;
  }
  
  .owner_review .card_list{
  margin: 26px auto;
  padding-left: 10px;
  padding-right: 10px;
  }
  .owner_review .card_list .card{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 10px 10px #fdcc43;
  border-radius: 300px 300px 0 0;
  }
  .owner_review .card .pic img{width: 282px;vertical-align: top;margin: -12px;}
  .owner_review .card .pic{
  box-sizing: border-box;
  padding: 10px;
  }
  .card .txt{
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
  }
  .txt h3{
  font-size: 20px;
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  }
  
  .rivew_cat_img{
  position: absolute;
  right: 15px;
  bottom: -42px;
  }
  
  @media screen and (min-width:768px) {
  .card_list{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    position: relative;
    margin-bottom: 51px;
  }
  .card{
    margin: 10px;
    width: calc(100%/4 - 20px);
  }
  .card .pic,.card .txt{
    width: 100%;
  }
  
  }
  
  /* page_top */
  
  .fixed_icon_top{
  position: fixed;
  bottom: 50px;
  right: 10px;
  }
  