/* banner */
.banner_index {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-right: 10px;
  margin-top: 85px;
  align-items: center;
}

.banner_img {
  width: 73%;
}

.banner_index img {
  width: 100%;
  vertical-align: top;
  border-radius: 0px 75px 56px 0px;
}

.banner_index .banner_content {
  margin: 0.2% 2%;
  width: 17%;
}

.banner_cd_img {
  width: 276px;
  height: 214.088px;
}

.banner_index p {
  line-height: 3;
}

/* middle_banner */

.middle_banner_fade_up_animate {
  margin-top: 110px;
}

.middle_banner_fade_up_animate .middle_banner_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.middle_banner_content img {
  border-radius: 10px;
  width: 50%;
  margin-right: 78px;
  object-fit: cover;
  box-shadow: rgb(253, 204, 67) -19px 20px 0px 0px;
}

.middle_banner_content p {
  line-height: 3;
}

/* about tast tails介紹  */
.last_banner {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.last_banner img {
  width: 300px;
  height: 450px;
  border-radius: 10px;
  box-shadow: rgb(253, 204, 67) 20px 20px;
}

.last_banner .last_banner_content {
  margin-right: 138px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.last_banner p {
  line-height: 3;
}

/* 新品上市 new-arrival */
.new_arrival {
  background-image: url("../img/index-bg01.jpg");
  width: 100%;
  position: relative;
  margin: 100px auto;
}

.new_content {
  width: 100%;
  margin: auto;
}

.shadow {
  width: 100%;
  height: auto;
  border-radius: 10px 234.906px 234.906px 10px;
  background: rgb(253, 204, 67);
  position: relative;
  margin: auto;
}

.new_arrival .new_arrival_img img {
  display: block;
  position: relative;
  margin: 20px auto;
  width: 100%; /* 使用百分比寬度 */
  height: auto; /* 讓高度自適應 */
  border-radius: 10px;
}

.dog_snack {
  position: absolute;
  right: 136px;
  bottom: 170px;
}

.new_arrival h3 {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 80px;
  letter-spacing: 10px;
}

.new_arrivel_content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

/* 暢銷商品 Bast Sellers */
.bast_sellers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul.slides {
  position: relative;
  width: 600px;
  height: 280px;
  list-style: none;
  margin: 47px 0px 0px;
  padding: 0px;
  background-color: rgb(238, 238, 238);
  overflow: hidden;
}

li.slide {
  margin: 0px;
  padding: 0px;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  font-size: 12px;
  color: rgb(255, 255, 255);
  transition: transform 0.5s ease-in-out 0s;
}

.slide_text {
  margin: 10px;
}

.slide:nth-of-type(1) {
  background-color: rgb(242, 226, 5);
  background-image: url("../img/slide1.jpg");
}

.slide:nth-of-type(2) {
  background-color: rgb(242, 92, 5);
  background-image: url("../img/slide2.jpg");
  left: 100%;
}

.slide:nth-of-type(3) {
  background-color: rgb(73, 95, 140);
  background-image: url("../img/slide3.jpg");
  left: 200%;
}

input[type="radio"] {
  position: relative;
  z-index: 100;
  display: none;
}

.controls-visible {
  position: absolute;
  width: 100%;
  bottom: 12px;
  text-align: center;
}

.controls-visible label {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin: 0px 3px;
  border: 2px solid rgb(255, 255, 255);
}

.slides
  input[type="radio"]:nth-of-type(1):checked
  ~ .controls-visible
  label:nth-of-type(1) {
  background-color: rgb(51, 51, 51);
}

.slides
  input[type="radio"]:nth-of-type(2):checked
  ~ .controls-visible
  label:nth-of-type(2) {
  background-color: rgb(51, 51, 51);
}

.slides
  input[type="radio"]:nth-of-type(3):checked
  ~ .controls-visible
  label:nth-of-type(3) {
  background-color: rgb(51, 51, 51);
}

.slides input[type="radio"]:nth-of-type(1):checked ~ .slide {
  transform: translateX(0%);
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .slide {
  transform: translateX(-100%);
}

.slides input[type="radio"]:nth-of-type(3):checked ~ .slide {
  transform: translateX(-200%);
}

.navigator {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 100;
  padding: 0px 20px;
  justify-content: space-between;
  box-sizing: border-box;
  display: none;
}

.navigator i {
  font-size: 32px;
  color: rgb(51, 51, 51);
}

.slides input[type="radio"]:nth-of-type(1):checked ~ .navigator:nth-of-type(1) {
  display: flex;
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .navigator:nth-of-type(2) {
  display: flex;
}

.slides input[type="radio"]:nth-of-type(3):checked ~ .navigator:nth-of-type(3) {
  display: flex;
}

h3 {
  font-size: 20px;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  letter-spacing: 10px;
  font-weight: 300;
}

.slides .slide_text p {
  font-size: 10px;
}

/* 飼主心得 */
.owner_review {
  background-image: url("../img/index-bg01.jpg");
}

.owner_review .card_list {
  margin: 26px auto;
  padding-left: 10px;
  padding-right: 10px;
}

.owner_review .card_list .card {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(253, 204, 67) 10px 10px;
  border-radius: 300px 300px 0px 0px;
}

.owner_review .card img {
  border-radius: 300px 300px 0px 0px;
  width: 282px;
  vertical-align: top;
  /* margin: -12px; */
  margin-right: 0px;
  margin-left: 0px;
}

.owner_review .card {
  box-sizing: border-box;
  /* padding: 10px; */
}

.card .txt {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

.txt h3 {
  font-size: 20px;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}

.rivew_cat_img {
  position: absolute;
  right: 15px;
  bottom: -42px;
}

@media screen and (min-width: 768px) {
  @media screen and (min-width: 768px) {
    .card_list {
      display: flex;
      flex-wrap: wrap;
      max-width: 1200px;
      position: relative;
      margin-bottom: 51px;
    }

    .card {
      margin: 10px;
      width: calc(25% - 20px);
    }

    .card .txt {
      width: 100%;
    }
  }
}
/* 手機板 */
@media screen and (max-width: 768px) {
  /* 第二個banner */
  .middle_banner_fade_up_animate {
    width: 100%;
    display: flex;
    flex-direction: column; /* 垂直排列 */
  }
  .middle_banner_content {
    width: 100%;
    text-align: center; /* 圖片置中 */
  }
  .middle_banner_content img {
    border-radius: 10px;
    width: 80%; /* 不超出螢幕寬度 */
    height: auto; /* 圖片保持原始比例 */
    margin-right: 0;
  }
  .middle_banner_fade_up_animate .middle_banner_content {
    width: 100%;
    margin: auto;
  }
  .middle_banner_content h2 {
    margin: 30px 65px;
  }
  .middle_banner_content p {
    text-align: center;
    margin: 0px 72px;
  }
  .h2_title {
    text-align: center; /* 文字置中 */
  }
  .fade_left_animate {
    text-align: center; /* 文字置中 */
  }

  /* 第三個banner */

  .last_banner {
    display: flex;
    flex-wrap: wrap;
  }
  .last_banner .last_banner_shadow {
    width: 100%;
    text-align: center; /* 圖片置中 */
  }
  .last_banner_shadow img {
    border-radius: 10px;
    max-width: 100%; /* 不超出螢幕寬度 */
    height: auto; /* 圖片保持原始比例 */
  }
  .last_banner .last_banner_content {
    width: 100%;
    margin: 20px auto;
  }
  .last_banner_content p {
    text-align: center;
    margin: 0 40px;
  }
  .h2_title {
    text-align: center; /* 文字置中 */
  }
  .fade_left_animate {
    text-align: center; /* 文字置中 */
  }

  /* 新品上市 new-arrival */

  .new_arrival {
    text-align: center; /* 置中對齊 */
  }

  .new_content_pic {
    display: flex;
    flex-direction: column;
    align-items: center; /* 置中對齊 */
    justify-content: center;
  }

  .new_arrival_img img {
    width: 100%;
    height: auto;
  }

  .new_arrivel_content {
    text-align: center; /* 置中對齊 */
  }

  /* 暢銷商品 Bast Sellers */
  .bast_sellers {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  ul.slides {
    width: 100vw;
    height: auto;
    max-width: 100%;
    background-color: #eee;
    overflow: hidden;
    margin: 20px 0;
    padding: 0;
  }

  li.slide {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* 將內容文字靠下對齊 */
    align-items: flex-start; /* 將內容文字置左對齊 */
    text-align: left;
    padding: 180px 0px 0px 0px; /* 調整內容區域的間距 */
    margin: 0;
    transition: 0.5s transform ease-in-out;
  }

  .navigator {
    position: unset;
    display: block;
    padding: 45px;
  }

  .controls-visible {
    display: block;
    margin-top: 10px;
  }

  .slides input[type="radio"]:nth-of-type(1):checked ~ .slide {
    transform: translateX(0);
  }

  .slides input[type="radio"]:nth-of-type(2):checked ~ .slide {
    transform: translateX(-97vw);
  }

  .slides input[type="radio"]:nth-of-type(3):checked ~ .slide {
    transform: translateX(-194vw);
  }

  .slides input[type="radio"] {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
  }
  /* 飼主心得 */
  .owner_review h2 span {
    display: flex;
  }
  .card_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 將卡片置中 */
    align-items: center; /* 將卡片置中 */
    padding: 10px; /* 調整內容的間距 */
    position: relative;
    margin-bottom: 51px;
  }

  .card {
    margin: 50px;
    width: 100%; /* 卡片寬度佔滿一行 */
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(253, 204, 67) 10px 10px;
    text-align: center;
  }

  .card img {
    border-radius: 300px 300px 0px 0px;
    width: 100%;
    height: auto;
    object-fit: cover; /* 圖片填滿父元素，保持比例 */
    vertical-align: top;
  }
  .owner_review .card img {
    width: 100%;
    height: 100%;
  }

  .card .txt {
    width: 100%; /* 文字寬度佔滿卡片 */
    box-sizing: border-box;
    padding: 10px;
  }

  .txt h3 {
    font-size: 20px;
    font-family: "Noto Sans TC", sans-serif;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
  }
}
