

/* product */
.product_banner{
    width: 100%;
}



/* shopnav */
.shop-out{
    padding-top: -16px;
    background-color: #f7f6f2;
    width: 1920px;
    margin: auto;
    position: relative;
}


/* leftnav */
.leftnav{
    /* position: absolute; */
    padding: 30px 30px;
    padding-right: 0;
    background-color: #f7f6f2;
    width: 260px;
    box-sizing: border-box;
}
.search{
    border: 1px solid lightgray;
    padding: 5px;
    margin-left: 10px;
    border-radius: 10px;
    padding-left: 20px;
}

.leftdiv{
    box-sizing: border-box;
}

.leftdiv ol{
    padding-top: 10px;
    padding-left: 10px;

}
.leftdiv li{
    margin: 20px;
    padding-left: 30px;
}
.leftdiv a{
    text-decoration: none;
}




/* item-list list */

.item_list{
    margin: auto;
    display: flex;
    margin-top: 40px;
    border-bottom: 1px solid lightgray;
    width: 1200px;
    text-align: center;
}
.item_list li{
    padding-left: 10px;
    width: 96px;
}

/* liststyle */
#liststyle{
 
    border: 2px solid lightgray;
    padding: 2px;
    display: block;
    font-size: 16px;
    position: absolute;
    right: 388px;
}

/* item */
.itembox{
    /* margin-left: 290px; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    text-align: left;
    padding-bottom: 30px;
}

.itembox > ul{
    width: 100%;
    display: flex;
    justify-content: flex-start ;
    flex-wrap: wrap;
}

.itembox >ul li{
    margin-left: 10px;
    margin-top: 30px;
    width: calc(100%/3 - 20px);
    /* height: 300px; */
    box-sizing: border-box;
    padding: 0;
}


.itembox img{
    display: block;
    margin: auto;
    width: 100%;
}

.itemin{
    border-top: 1px solid black;
    padding: 15px;
}

.itemin h6{
    color: black
}

.itemin>div {
    display: flex;
    margin-top: 15px;
    flex-grow: 0;
    font-size: 16px;
}

.itemin>div p{
    color: #F45E4A;
    font-family: 'Noto Sans TC', sans-serif;
}

.itemin>div .buybtn{
    margin-left: 20px;
    
    display: block;
    border-radius: 10px;
    background-color: #FFCF47;
    border: none;

}







/* page */
.page{
    display: flex;
    justify-content: center;
}

.page img{
    width: 19.467px;
    height: 15.63px;
}
.page button{
    width: 40px;
    height: 40px;
    margin-top: 30px;
    background-color: #fff;
    text-align: center;
    /* margin: auto; */
}


/* hover */
.itemin>div .buybtn:hover{
    background-color: #FFCF47;
    transform: scale(1.1);
}

.page button:hover{
    background-color: #FFCF47;
    
}

.itembox>ul>li:hover{
   
    box-sizing: border-box;  
    border: 2px solid #FFCF47; 
}

.suggest ul>li:hover {
    transform: scale(1.05);
}
/*  */
.leftdiv ol:first-child>li{
    
    display: none;
    
}

/* hover */
.itemin>div .buybtn:hover{
    background-color: #FFCF47;
    transform: scale(1.1);
}

.page button:hover{
    background-color: #FFCF47;
    
}

.itembox>ul>li:hover{
   
    box-sizing: border-box;  
    border: 2px solid #FFCF47; 
}

.suggest ul>li:hover {
    transform: scale(1.05);
}
/*  */
.leftdiv ol:first-child>li{
    
    display: none;
    
}

